.gallery__image {
    width: 250px;
}

.gallery {
    margin: auto;
    max-width: 1200px;
    display: flex;
    //justify-content: center;
    //align-items: center;
    column-gap: 10px;
    row-gap: 10px;
}